# Ignore Gradle project-specific cache directory
HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore Gradle build output directory
build
bin

### VS Code ###
.vscode/
.ssh